{% extends 'base.html.twig' %}
{% block stylesheets %}

    <link href="{{ asset('css/opening-hours-form.css') }}" rel="stylesheet">
{% endblock %}
{% block title %}Hello OpeningHoursController!{% endblock %}


{% block body %}

    <div class="container section-opening-hours-form">
        <div class="row w-75 mx-auto">
            <h2>Modifier les horraires</h2>

            {{ form_start(form) }}
            <div class="col-md-6">{{ form_row(form.dayOfWeek) }}
            </div>
            <div class="col-md-6">{{ form_row(form.openingTime) }}</div>
            <div class="col-md-6">{{ form_row(form.closingTime) }}</div>
            {{ form_end(form) }}
        </div>

    </div>



{% endblock %}
